.col-lg-12
  %h1.page-header Susteq Dashboard
.col-lg-12
  .panel.panel-default
    .panel-heading
      %i.fa.fa-map-marker.fa-fw
      Water Kiosks & Points Map
      .pull-right
        .minimize.map-button
          %i.fa.fa-minus.fa-fw
    .panel-body#map
.col-lg-12
  .panel.panel-default.mt20
    .panel-heading
      %i.fa.fa-dashboard.fa-fw
      Water Kiosk & Point Charts
    .panel-body
      #chart-container
- unless @new_hubs_hashes.empty?
  %h3 Hubs with the following location ids have not yet been added to the Hubs table:
  .table-responsive
    %table.dataTables-example.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Hub
      %tbody
        - @new_hubs_hashes.each do |hub_hash|
          %tr
            %td= link_to "#{hub_hash[:type]} #{hub_hash[:id]}", admin_add_new_hub_path(id: hub_hash[:id], type: hub_hash[:type])
